<header class="chat_header">
    <div class="chat_details">
        <div class="chat_avatar"></div>
        <span class="chat_name"><b>{{ active_chat.name }}</b></span>
    </div>
    <button class="chat_settings"></button>
</header>
<div class="chat_content">
    <div class="chat_messages">
        {{#each active_chat.days }}
            <section class="chat-day">
                <span class="chat-day_date">{{ date }}</span>
                {{#each messages }}
                    <div class="chat-msg chat-msg-{{ type }}">
                        <span class="chat-msg_text">{{ text }}</span>
                        <span class="chat-msg_time">{{ time }}</span>
                    </div>
                {{/each }}
            </section>
        {{/each }}
    </div>
    {{{ msgForm }}}
</div>
