{{{ editChatModal }}}
{{{ deleteChatModal }}}
<header class="chat_header">
    <div class="chat_details">
        {{{ avatar }}}
        <span class="chat_name"><b>{{ active_chat.title }}</b></span>
    </div>
    {{{ dropdown }}}
</header>
<div class="chat_content">
    {{{ messages }}}
    {{{ msgForm }}}
</div>