{{{ editChatModal }}}
<header class="chat_header">
    <div class="chat_details">
        {{{ avatar }}}
        <span class="chat_name"><b>{{ active_chat.title }}</b></span>
    </div>
    <button class="chat_settings"></button>
</header>
<div class="chat_content">
    {{{ messages }}}
    {{{ msgForm }}}
</div>