{{{ createChatModal }}}
<header class="sidebar-header">
    {{{ profile }}}
    <form class="sidebar-header_search">
        {{{ search }}}
    </form>
    {{{ createChatBtn }}}
</header>
<nav class="chats">
    <ul class="chatlist">
        {{{ chats }}}
    </ul>
</nav>
